.DS_Store
hospitalproject/.DS_Store
.DS_Store
hospitalproject/front/.DS_Store
.DS_Store
hospitalproject/backend/__pycache__/__init__.cpython-37.pyc
hospitalproject/.DS_Store
hospitalproject/backend/__pycache__/__init__.cpython-37.pyc
hospitalproject/backend/__pycache__/settings.cpython-37.pyc
hospitalproject/backend/views/__pycache__/__init__.cpython-37.pyc
hospitalproject/backend/views/__pycache__/tasks.cpython-37.pyc
hospitalproject/backend/adapter/__pycache__/__init__.cpython-37.pyc
