{%extends 'base.html'%}
<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {%block doctitle%}
    <title>任务列表</title>
    {%endblock%}
</head>

<body>
    {%block content%}
    <div id="model-del" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="my-modal-title"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <form action="/pydata/deletetask/" method="POST">
                    {%csrf_token%}
                    <input type="hidden" id="taskid" name="taskid" value="">
                    <div class="modal-body">
                        <p>确认删除么？</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                        <button type="submit" class="btn btn-primary">确认</button>

                    </div>
                </form>
            </div>
        </div>
    </div>
    <div id="modalcenter" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="my-modal-title"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="my-modal-title">新建爬取任务</h5>
                    <button class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form action="/pydata/addtask/" method="post" id="tasktake">
                    {%csrf_token%}
                    <div class="modal-body">
                        <div class="container">
                            <div class="row" style="padding: .3em;">
                                <div class="col-sm-3">
                                    <label for="starttime">开始日期：</lable>
                                </div>
                                <div class="col-sm-7">
                                    <input type="date" class="form-control" name="starttime" id="starttime">
                                    
                                </div>
                                <div class="col-sm-2" hidden="true">
                                    <p>请填写</p>
                                </div>
                            </div>
                            <div class="row" style="padding : .3em">
                                <div class="col-sm-3">
                                    <lable for="endtime">结束日期：</lable>
                                </div>
                                <div class="col-sm-7">
                                    <input type="date" class="form-control" name="endtime" id="endtime">
                                </div>
                                <div class="col-sm-2" hidden="true">
                                    <p>请填写</p>
                                </div>
                            </div>
                            <div class="row" style="padding : .3em">
                                <div class="col-sm-3">
                                    <lable for="keyword">关键字：</lable>
                                </div>
                                <div class="col-sm-7">
                                    <div class="form-group">
                                        <textarea id="keyword" class="form-control" name="keyword"
                                            rows="3"></textarea>
                                    </div>
                                </div>
                                <div class="col-sm-2" hidden="true">
                                    <p>请填写</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                        <button type="submit" id="submitbtn" class="btn btn-primary">执行</button>
                        <script>
                            $('#tasktake').validate(
                                {
                                   rules:{
                                       starttime:"required",
                                       endtime:"required",
                                       keyword:"required"
                                   },
                                   message:{
                                       starttime:{required:"请填写开始时间！"}
                                   }
                                }
                            )
                            
                        </script>
                    </div>
                </form>


            </div>
        </div>
    </div>
    <div class="container">
        <h2 style="padding-top: 0.5em;padding-bottom: 0.5em;">爬取任务列表</h2>
        <div class="btn-group float-right" role="group" aria-label="这是一组按钮" style="margin-bottom: .3em;">
            <button type="button" class="btn btn-sm btn-outline-info" data-toggle="modal"
                data-target="#modalcenter">新建任务</button>
            <button type="button" class="btn btn-sm btn-outline-info">自动执行</button>
        </div>
        <div class="table table-striped" style="padding-top: .3em;">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">日期</th>
                        <th scope="col">抓取数量</th>
                        <th scope="col">时间范围</th>
                        <th scope="col">关键词</th>
                        <th scope="col">状态</th>
                        <th scope="col">操作</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in tasksdata %}
                    <tr>
                        <th scope="row">{{item.taskid}}</th>
                        <td>{{item.date}}</td>
                        <td><a href=#>{{item.file_num}}</a></td>
                        <td>{{item.begin_time}} ~ {{item.end_time}}</td>
                        <td>
                            {{item.keyword}}
                        </td>
                        <td>
                            {% if item.state == 'Open' %}
                            <span class="badge badge-info">{{item.state}}</span>
                            {%else%}
                            <span class="badge badge-success">{{item.state}}</span>
                            {%endif%}
                        </td>
                        <td>
                            <button id="btn-{{item.taskid}}" type="button" class="btn btn-sm btn-link" style="margin:0" data-toggle="modal"
                                data-target="#model-del" onclick="Value('{{item.taskid}}')">
                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-cloud-arrow-down-fill"
                                    fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd"
                                        d="M8 2a5.53 5.53 0 0 0-3.594 1.342c-.766.66-1.321 1.52-1.464 2.383C1.266 6.095 0 7.555 0 9.318 0 11.366 1.708 13 3.781 13h8.906C14.502 13 16 11.57 16 9.773c0-1.636-1.242-2.969-2.834-3.194C12.923 3.999 10.69 2 8 2zm2.354 6.854l-2 2a.5.5 0 0 1-.708 0l-2-2a.5.5 0 1 1 .708-.708L7.5 9.293V5.5a.5.5 0 0 1 1 0v3.793l1.146-1.147a.5.5 0 0 1 .708.708z" />
                                </svg>
                            </button>
                            <script>
                                function Value(id){
                                    
                                    var dat= document.getElementById('taskid')
                                    dat.setAttribute('value',id)
                                }
                            </script>
                            <button type="button" class="btn btn-sm btn-link" style="margin:0em">
                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-collection-fill"
                                    fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <rect width="4" height="5" x="1" y="10" rx="1"/>
  <rect width="4" height="9" x="6" y="6" rx="1"/>
  <rect width="4" height="14" x="11" y="1" rx="1"/>  </svg>
                            </button>
                        </td>
                    </tr>
                    {% endfor %}

                </tbody>
            </table>
        </div>
    </div>
    {%endblock%}
</body>

</html>