{%extends 'base.html'%}
<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>集成展示</title>


<body>
    {%block content%}
    <div class="content container-fluid" style=" max-width: 100%;">
        <div class="jumbotron">
            <h1 class="display-4">医院信息化-政府采购信息抓取</h1>
            <p class="lead">该功能通过获取政府采购信息网的政府招投标数据进行定时爬取，并使用mongodb进行数据存储和挖掘。</p>
            <hr class="my-4">
            <p>数据来源：
                <a href="http://www.ccgp.gov.cn/">http://www.ccgp.gov.cn/</a>
            </p>
            <a class="btn btn-primary btn-lg"
                href="http://search.ccgp.gov.cn/bxsearch?searchtype=1&page_index=1&start_time=&end_time=&timeType=2&searchparam=&searchchannel=0&dbselect=bidx&kw=&bidSort=0&pinMu=0&bidType=0&buyerName=&projectId=&displayZone=&zoneId=&agentName="
                role="button">更多信息</a>
        </div>
    </div>
    <div id='chart-cvi' class="container-fluid" style="height: 500px;"></div>
    <script type="text/javascript">
        var chart = echarts.init(document.getElementById('chart-cvi'))
       // var data = {{data|safe}};

        var option = {
            title: {
                title: '全国医院统计'
            },
          
            xAxis: {
                data: {{cols|safe}},
            },
            yAxis:{
                type: 'value'
            },
            series: [{
                type: 'bar',
                data: {{vals}},
            }]
        }
        chart.setOption(option)
    </script>
    <div class="container container-fluid">
        <div class="row row-cols-3">
            <div class="col-sm">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Title</h5>
                        <p class="card-text">Content</p>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Title</h5>
                        <p class="card-text">Content</p>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Title</h5>
                        <p class="card-text">Content</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {%endblock %}
</body>

</html>